{% extends "template.html.twig" %}
{% block title %}Blog{% endblock %}
{% block body %} 
<div class="container-fluid mx-0 my-0 px-0 mx-0" id="blogs-list">
      <div class="heading">
          <h2>Liste des blogs</h2>
      </div>

      <div class="container-blog-list">
          {% for blog in blogs %}
                  <div class="card-blog">
                    <div class="card-img">
                      <img src="\uploads\{{blog.image_blog}}" class="img" alt="img">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{blog.title_blog}}</h5>
                      <p class="card-text">{{blog.chapo_blog}}</p>
                      <p>Date: {{blog.last_update_blog}}</p>
                      <p>Auteur: {{blog.pseudo_blog}}</p>
                      <p><a href={{'/blogs/'~blog.id}} class="btn btn-primary">consulter</a></p>
                    </div>
                  </div>
          {% endfor %}
      </div>
</div>   
{% endblock %}