{% extends "template.html.twig" %}
{% block title %}Blog{% endblock %}
{% block body %} 
<div class="container">
    <section>
        <h3>{{blog.title}}</h3><br />
            <div class="row">
                <div class="col-12 ml-50px my-0">
                    <div><img  src="./images/me2.jpg" alt=""></div>
                </div>
            </div>
            <div class="row my-5" id="objectif">
                <div class="col-12 mx-auto my-0">
                    <p>{{blog.content}}</p>
                    <p><bold>Dernière mise à jour: </bold><span><i>{{blog.last_update}}</i></span></p>
                </div>
            </div>

            <h4><bold>Commentaires du blog</bold></h4><br/>
            {% for comment in $findCommentsPublished %}
                <div class="comment-line row">

                    <div class="col8"><p class="mx-3 my-3">{{comment.commentContent}}</p></div>
                    {% if ( user != null) %}
                    <div class="col4 mr-3">
                        <div class="row px-0 mx-0">
                            <div class="col button-comment-line px-0 mx-2"><a href={{'/blog/approveComment/'~blog.id~'/'~comment.id }}><button type="button" class="btn btn-success btn-block my auto">Approuver</button></a></div>
                            <div class="col button-comment-line px-0 mx-2"><a href={{'/blog/deleteComment/'~blog.id~'/'~comment.id }}><button type="button" class="btn  btn-danger btn-block my auto">Supprimer</button></a></div>
                        </div>
                    </div>
                    {% endif %}
                </div>    

            {% endfor %}

            <h4><bold>Ajouter un commentaire</bold></h4><br/>
            <div class="nouveau commentaire">
                <form method="POST">
                    <div class="form-group">
                        <label for="commentContent">Nouveau commentaire :</label>
                        <textarea class="form-control rounded-0" id="commentContent" name="commentContent" rows="3"placeholder="Veuillez écrire votre texte ici."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyez</button>
                </form>
            </div>
    </section>
</div>   
{% endblock %}